[user]
	email = 3541ax@gmail.com
	name = Alex O'Brien
	signingkey = 0x1EECFF9EE39ED7AA
[submodule]
	fetchJobs = 8
[pull]
	rebase = false
	ff = only
[commit]
	gpgsign = true
[log]
	showSignature = true
[sendemail]
	smtpPass = vnjyjpwoasfdcakz
	smptserver = smtp.gmail.com
	smtpuser = 3541ax@gmail.com
	smtpencryption = tls
	smtpserverport = 587
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers
	syntax-theme = Solarized (dark)
	whitespace-error-style = 22 reverse
